body {
    background-image: url("img/Gemini_Generated_Image_nxgeh4nxgeh4nxge\ \(1\).jpg");
    background-attachment: fixed;
    background-size: 1900px;
    background-position: center;
    background-repeat: no-repeat;
}